.chat-bar-collapsible {
    position: fixed;
    bottom: 0;
    right: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    
}



.collapsible {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('');
    /* background-color: black; */
    color: white;
    cursor: pointer;
    padding: 18px;
    /* I changed below from 750px*/
    width: 730px;
    text-align: left;
    outline: none;
    font-size: 18px;
    border-radius: 10px 10px 0px 0px;
    border: 3px solid white;
    border-bottom: none;
}


.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    background-color: #f1f1f1;
    
}

.full-chat-block {
    /* I changed here to max .. 800px*/
    width: 750;
    
    
    background: rgb(248, 233, 171);
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
    height: max-content;
    transition: max-height 0.2s ease-out;
}

.outer-container {
    min-height: 500px;
    bottom: 0%;
    position: relative;
}

.chat-container {
    max-height: 500px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    scroll-behavior: smooth;
    hyphens: auto;
    font-family: 'Courgette', cursive; font-family: 'Poppins', sans-serif !important;
}

.chat-container::-webkit-scrollbar {
    display: none;
}

.chat-bar-input-block {
    position: sticky;
    bottom: 0;
    


    display: flex;
    float: left;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    /* align-items: center; */
    

    background-color: rgb(216, 214, 214);
    border-radius: 10px 10px 0px 0px;
    padding: 10px 0px 10px 10px;
}

.chat-bar-icons {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 25%;
    float: right;
    font-size: 20px;
    

    
    
}

#chat-icon:hover {
    opacity: .7;
}

/* Chat bubbles */

#userInput {
    width: 75%;
}

.input-box {
    float: left;
    border: none;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #000;
    background-color: white;
    outline: none
}

.userText {
    color: white;
    /* font-family: Helvetica; */
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    clear: both;
}

.userText span {
    line-height: 1.5em;
    display: inline-block;
    background: black;
    padding: 10px;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    max-width: 80%;
    margin-right: 10px;
    animation: floatup .5s forwards
}

.botText {
    color: #000;
    /* font-family: Helvetica; */
    font-weight: normal;
    font-size: 16px;
    text-align: left;

    background-size: contain !important;
    object-fit: contain !important;
    background-position: center !important;
}

.botText span {
    background-size: contain !important;
    object-fit: contain !important;
    background-position: center !important;
    

    line-height: 1.5em;
    display: inline-block;
    background: white;
    padding: 10px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    max-width: 85%;
    margin-left: 10px;
    animation: floatup .5s forwards
}

@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}


/* Immediate past */
/* @media screen and (min-width:1025px) {

    .collapsible:hover, .collapsible-slide:active{
        background-color: rgb(82, 81, 81) !important;
        
    }
} */

@media screen and (min-width:1025px) {

    .collapsible:hover, .collapsible-slide:active{
        background-color: rgb(82, 81, 81) !important;
        
    }
}










/* Was 600px */
@media screen and (max-width:794px) {
    
    .full-chat-block {
        width: 100%;
        border-radius: 0px;
        
    }

    .chat-bar-collapsible {
        position: fixed;
        bottom: 5px;
        right: 0;
        width: 100%;
    }
    .collapsible {
        width: 100%;
        border: 0px;
        border: 2px solid white;
        border-radius: 10px;
    }


}


.order-button {
    box-shadow: 3px 4px rgb(192, 192, 192);
}

.order-button:hover, .order-button-slide:active{
    box-shadow: 3px 3px rgb(153, 152, 152);
    /* border-color: white; */
    background-color: white;
}
















/* Autocomplete begins here */

   /*the container must be positioned relative:*/
.autocomplete {
    position: relative;
    display: inline-block;
  }
  
  input {
    /* border: 1px solid transparent; */
    background-color: #f1f1f1;
    /* padding: 10px; */
    /* font-size: 16px; */
  }
  
  input[type=text] {
    background-color: #f1f1f1;
    /* width: 100%; */
  }
  
  input[type=submit] {
    /* background-color: DodgerBlue; */
    /* color: #fff; */
    cursor: pointer;
  }
  
  .autocomplete-items {
    /* I changed ABSOLUTE to STATIC so that the input box moves upward to give space for Autocomplete Div*/
    position: static;
    margin-top: 50px;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 5px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
    
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: grey !important; 
    color: white; 
  }



  

  /* for zooming images */
 

  /* for zooming images2 */
  #zoomCheck[type=checkbox] {
    display: none;
  }


    .conty img {
    /* width: 100% !important;   */
    /* margin: 50px; */
    /* padding: inherit; */
    transition: transform 0.25s ease;
    cursor: zoom-in;
  }

  .conty {
      width: 100% !important;
  }

  #ttt {
      width: 100% !important;
      /* background-size: 100% !important; */
      /* background-size: cover !important; */
  }
  
  
  #zoomCheck[type=checkbox]:checked ~ label > img {
    transform: scale(2);
    cursor: zoom-out;
    
    margin-left: 20px;
  }




@media screen and (max-width:768px) {

   .userText {
       font-size: 15px;
    } 

   .botText {
       font-size: 15px;
    } 
    

}